.cs {
  color: #62237a;
  font-weight: 700 !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.twitter {
  color: #0084b4;
}

#notification {
  font-size: 1.35em !important;
}

section > section.present > p > img {
  border: 4px solid #333 !important;
}

.reveal section img.border-less,
section > section.present > p > img.border-less {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, .5));
}

.bold {
  font-weight: bold;
}

.black-shadow {
  text-shadow: 0 0 20px black;
}

.white {
  color: white;
}

.reveal pre {
  width: 100%;
  margin: 0px;
}

#lefty {
  text-align: left;
}

section > section.present > p > img {
  border-radius: 10px;
  border-bottom: 8px;
  box-shadow: 0 0 70px black;
}

div.slides > section > section.present > ul > li > code {
   color: #81a2be;
}

div.slides > section > section.present > ul {
  margin: 0;
}

div.slides > section > section.present > ul > li {
  text-transform: uppercase !important;
  font-family: "Quicksand", sans-serif;
}

p > span.code-presenting-annotation.fragment.current-only.visible.current-fragment {
  text-transform: uppercase !important;
  font-size: 80% !important;
}

div.slides > section > section.present {
  top: 0px !important;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 60vh !important;
  opacity: 0.90;
  border-radius: 10px;
  overflow: hidden !important;
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 52vh !important;
  }
}

.reveal .slides section .code-presenting-annotation {
  background: white;
  color: rgba(0, 0, 0, .5);
  padding: 1px 15px;
  border-radius: 15px;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  background: black;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
  display: none;
}
.reveal div.left {
    float: left;
    z-index: -10;
    width: 45%;
}

.reveal div.right {
    float: right;
    z-index: -10;
    width: 55%;
}

.reveal a.pro-link {
    color: white;
    font-size: 0.5em;
}

#title-footer {
  color: white;
  background: black;
  opacity: 0.65 !important;
}

#title-footer p.footer-hard {
    color: #b6b6b6;
}

#title-footer p.footer-fade {
  color: #b6b6b6;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.white {
  color: white;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }

.waving {
  animation: wave 450ms infinite;
  transform-origin: bottom;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform:rotate(5deg);
  }
  50% {
    -webkit-transform:rotate(-5deg);
  }
  100% {
    -webkit-transform:rotate(5deg);
  }
}

@-moz-keyframes wave {
  0% {
    -moz-transform:rotate(5deg);
  }
  50% {
    -moz-transform:rotate(-5deg);
  }
  100% {
    -moz-transform:rotate(5deg);
  }
}

@-ms-keyframes wave {
  0% {
    -ms-transform:rotate(5deg);
  }
  50% {
    -ms-transform:rotate(-5deg);
  }
  100% {
    -ms-transform:rotate(5deg);
  }
}

@keyframes wave {
  0% {
    transform:rotate(5deg);
  }
  50% {
    transform:rotate(-5deg);
  }
  100% {
    transform:rotate(5deg);
  }
}

.line-number {
  opacity: .5;
}

.shake,
div.slide-background.present[style*=imposter],
div.slide-background.present[style*=disclaimer],
div.slide-background.present[style*=cuzCSharp] {
  animation-name: shake;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shake {
  2% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
  4% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg); }
  6% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  8% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  10% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  12% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  14% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  16% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  18% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  20% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  22% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  24% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  26% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  28% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  30% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  32% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  34% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  36% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  38% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  40% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  42% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  44% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  46% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  48% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  50% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  52% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  54% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  56% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  58% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  60% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  62% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  64% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  68% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  70% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  72% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
  74% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  76% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  78% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  82% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  84% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  86% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  88% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  90% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  92% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
  94% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  96% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  98% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }